body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/static/dash_background.png');
    background-size: cover; /* Ensure the background image covers the entire viewport */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center; /* Center the background image */
    height: 100vh;
}

.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

.game-options {
    margin-top: 20px;
}

.game-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.game-link:hover {
    background-color: #45a049;
}

.game-link:focus {
    outline: none;
}

.game-link:active {
    transform: translateY(2px);
}