.container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.board {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 12px solid rgb(163, 13, 13);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cell:hover {
    background-color: #ddd;
}

.cell.X::after {
    content: 'X';
    animation: fadeIn 0.5s ease-in;
}

.cell.O::after {
    content: 'O';
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

button {
    margin-top: 20px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}