<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Dashboard</title>
    <link rel="stylesheet" href="/static/dash.css">

</head>
<body>
    <div class="container">
        <h1>Welcome to the Game Dashboard</h1>
        <div class="game-options">
            <a href="/tic_tac_toe" class="game-link" target="_blank">Play CrossWorld</a>
            <a href="/start_game" class="game-link">Play Leap to Adventure: The Jumping Journey Begins!</a>
        </div>
    </div>
</body>
</html>
